<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:fragment="ConfigFragment">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <!-- global common -->
    <script th:inline="javascript" type="text/javascript" th:src="@{/global/style/style.css}"></script>
    <script th:inline="javascript" type="text/javascript" th:src="@{/global/vendor/jquery/jquery-1.12.4.min.js}"></script>
    <!--<script type="text/javascript" src="/humanframe/global/assets/vendor/jquery/jquery-2.2.2.min.js"></script>-->

    <!-- theme -->
    <script th:inline="javascript" type="text/javascript" th:src="@{/portal2/script/layout.js}"></script>
    <script th:inline="javascript" type="text/javascript" th:src="@{/portal2/script/layout.js}"></script>
    <link th:inline="css" th:href="@{/portal2/style/style.css}" rel="stylesheet"/>
    <link th:inline="css" th:href="@{/portal2/style/page/main.css}" rel="stylesheet"/>
    <link th:inline="css" th:href="@{/portal2/style/page/content.css}" rel="stylesheet"/>
    <link th:inline="css" th:href="@{/portal2/style/page/member.css}" rel="stylesheet"/>
    <link th:inline="css" th:href="@{/portal2/style/common/board-new.css}" rel="stylesheet"/>
    <link th:inline="css" th:href="@{/portal2/style/common/search.css}" rel="stylesheet"/>

    <!-- main -->
    <script th:inline="javascript" type="text/javascript" th:src="@{/global/vendor/swiper/swiper.js}"></script>
    <link th:inline="css" rel="stylesheet" th:href="@{/global/vendor/swiper/swiper.css}">
    <link th:inline="css" rel="stylesheet" th:href="@{/portal2/style/main.css}">
    <!--[if lt IE 9]>
    <script th:inline="javascript" type="text/javascript" th:src=="@{/global/vendor/html5shiv.min.js}"></script>
    <script th:inline="javascript" type="text/javascript" th:src="@{/global/vendor/respond.min.js}"></script>
    <![endif]-->
</head>
<body>

</body>
</html>