<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="FooterFragment">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer id="uiFooter">
    <div class="footer">
        <div class="footer-top">
            <div class="inner">
                <ul class="footer-sns">
                    <li>
                        <a href="#" target="_blank" title="새창">
                            <i>
                                <img th:src="@{/portal2/assets/image/icon/ico_facebook_gray.svg}" alt="페이스북"/>
                            </i>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank" title="새창">
                            <i>
                                <img th:src="@{/portal2/assets/image/icon/ico_blog_gray.svg}" alt="네이버 블로그"/>
                            </i>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank" title="새창">
                            <i>
                                <img th:src="@{/portal2/assets/image/icon/ico_youtube_gray.svg}" alt="유튜브"/>
                            </i>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank" title="새창">
                            <i>
                                <img th:src="@{/portal2/assets/image/icon/ico_twitter_gray.svg}" alt="트위터"/>
                            </i>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank" title="새창">
                            <i>
                                <img th:src="@{/portal2/assets/image/icon/ico_instagram_line_gray.svg}" alt="인스타그램"/>
                            </i>
                        </a>
                    </li>
                </ul>
                <!--<ul class="footer-sns">
                    <li class="fb"><a href="#"><span class="hd-element">페이스북</span></a></li>
                    <li class="blog"><a href="#"><span class="hd-element">블로그</span></a></li>
                    <li class="yt"><a href="#"><span class="hd-element">유튜브</span></a></li>
                    <li class="tw"><a href="#"><span class="hd-element">트위터</span></a></li>
                    <li class="is"><a href="#"><span class="hd-element">인스타그램</span></a></li>
                </ul>-->
                <ul class="footer-menu">
                    <li><a href="#">회사소개</a></li>
                    <li><a href="#">이용안내</a></li>
                    <li><a href="#">찾아오시는 길</a></li>
                    <li><a href="#">홈페이지 개선건의</a></li>
                    <li><a href="#">저작권정책</a></li>
                    <li><a href="#">개인정보처리방침</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-body">
            <div class="inner">
                <div class="footer-logo">
                    <a href="#">
                        <img th:src="@{/portal2/assets/image/common/logo_global.svg}" alt="yooncoms R&amp;D"/>
                    </a>
                </div>
                <div class="copyright-wrap">
                    <address class="address">
                        (13494) 경기도 성남시 분당구 대왕판교로 660, 유스페이스1A 1113호<br>
                        <ul class="address-info-list">
                            <li>대표전화:031-330-8000</li>
                            <li>솔루션문의:031-330-8016</li>
                            <li>이메일:help@yooncoms.com</li>
                        </ul>
                    </address>
                    <p class="copyright-text">
                        ©2022 YoonCommunications. All rights reserved.
                    </p>
                </div>
                <div class="footer-other-wrap">
                    <a href="#" target="_blank" title="새창">
                        <img th:src="@{/portal2/assets/image/common/footer_other_mark01.png}" alt="국가상징 알아보기"/>
                    </a>
                    <a href="#" target="_blank" title="새창">
                        <img th:src="@{/portal2/assets/image/common/footer_other_mark02.png}" alt="국민의 나라 정의로운 대한민국"/>
                    </a>
                    <a href="#" target="_blank" title="새창">
                        <img th:src="@{/portal2/assets/image/common/footer_other_mark03.png}" alt="웹접근성 인증 아이콘"/>
                    </a>
                </div>
            </div>
        </div>
    </div>

</footer>
</body>
</html>