<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base-layout}"
      layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section class="sub-content-body" id="contentBody"><!-- board-wrap -->
    <div class="board-wrap">

        <!-- board head -->
        <div class="board-list-head">
            <div class="total-wrap">
                1 / 18페이지 (총 172개의 게시물이 있습니다.)
            </div>
            <div class="board-search-wrap">
                <div class="select-box">
                    <label for="selectText" class="hd-element">조건선택</label>
                    <select name="selectText" id="selectText" class="select-control">
                        <option value="">전체</option>
                    </select>
                </div>
                <div class="input-box">
                    <label for="inputText" class="hd-element">검색어를 입력하세요</label>
                    <input type="text" class="input-control is-block is-white" id="inputText">
                    <button class="btn is-outline" type="button">검색
                    </button></div>
            </div>
        </div>
        <!--// board head -->

        <!-- board-list-wrap -->
        <div class="board-list-wrap">
            <!-- board-list-head -->
            <ul class="board-list list-head">
                <!-- board-list-li -->
                <li>
                    <div class="board-data-group">
                        <div class="col col-number">
                            <strong>번호</strong>
                        </div>
                        <div class="col col-subject">
                            <strong>제목</strong>
                        </div>
                        <div class="col col-secret">
                            <strong>공개여부</strong>
                        </div>
                        <div class="col col-file">
                            <strong>첨부파일</strong>
                        </div>
                        <div class="col col-writer">
                            <strong>작성자</strong>
                        </div>
                        <div class="col col-date">
                            <strong>등록일</strong>
                        </div>

                    </div></li>
                <!--// board-list-li -->
            </ul>
            <!--// board-list-head -->
            <ul class="board-list list-body">
                <li th:each="post : ${post}">
                    <a href="#">
                        <div class="board-data-group">
                            <div class="col col-number">
                                <span th:text="${post.id}">1987</span>
                            </div>
                            <div class="col col-subject">
                                <div class="board-data-subject">
                                <span class="text txt-subject" th:text="${post.title}">
                                    오쇠동 녹지보호 범위내에거 그린벨트 이용 가능하게 해주세요.
                                </span>
                                    <i class="icon ico-new"><em>새글</em></i>
                                </div>
                            </div>
                            <div class="col col-secret">
                                <i class="icon ico-secret"><em>비공개</em></i>
                            </div>
                            <div class="col col-file">
                                <i class="icon ico-file"><em>첨부파일있음</em></i>
                            </div>
                            <div class="col col-writer">
                                <span th:text="${post.createdBy}">홍길동</span>
                            </div>
                            <div class="col col-date">
                              <!--  <span th:text="${#dates.format(post.createdAt, 'yyyy-MM-dd HH:mm:ss')}">2021-02-29</span>-->
                                <span th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm:ss')}">2021-02-29</span>
                            </div>
                        </div>
                    </a>
                </li>
                <!--// board-list-li -->
            </ul>
        </div>
        <!--// board-list-wrap -->

        <!-- board btn -->
        <div class="board-btn-wrap">
            <a href="#" class="btn is-primary">글쓰기</a>
        </div>
        <!--// board btn -->

        <!-- board paginate -->
        <div class="paginate"
             th:with="start=${T(java.lang.Math).floor(post.number/10)*10 + 1},
                    last=(${start + 9 < post.totalPages ? start + 9 : post.totalPages})">
            <th:block th:with="
                firstAddr=@{/board1(page=1)}
                ,prevAddr=@{/board1(page=${post.number},bsId=${searchBpId})}
                ,nextAddr=@{/board1(page=${post.number+2},bsId=${searchBpId})}
                ,lastAddr=@{/board1(page=${post.totalPages},bsId=${searchBpId})}
            ">

                <!--<a href="#" title="First" class="com first"><span class="hd-element">첫페이지 이동</span></a>-->
                <a th:href="${prevAddr}" title="Prev" class="com prev"><span class="hd-element">이전페이지 이동</span></a>
                <a th:href="${prevAddr}" title="Prev" class="m-prev"><span class="hd-element">이전페이지 이동</span></a>

                <a th:each="page: ${#numbers.sequence(start, last)}"
                    th:class="${page == post.number + 1} ? 'active'"
                    th:text="${page}" th:href="@{/board1(page=${page},bsId=${searchBpId})}">
                </a>

                <span class="num-page-total"><em th:text="${post.totalElements}">32</em></span>
                <a th:href="${nextAddr}" title="Next" class="m-next"><span class="hd-element">다음페이지 이동</span></a>
                <!-- mobile count -->
                <a th:href="${nextAddr}" title="Next" class="com next"><span class="hd-element">다음페이지 이동</span></a>
                <!--<a th:href="#" title="Last" class="com last"><span class="hd-element">마지막페이지 이동</span></a>-->

            </th:block>
        </div>
        <!--// board paginate -->

    </div>
    <!--// board-wrap-->
</section>
</body>
</html>