@charset "UTF-8";

@font-face {
    font-family:'Noto Sans Korean';
    font-style:normal;
    font-weight:100;
    src:local('Noto Sans Thin'), local('NotoSans-Thin'),
    url(/humanframe/global/assets/font/NotoSans/NotoSansKR-Thin-Hestia.eot),
    url(/humanframe/global/assets/font/NotoSans/NotoSansKR-Thin-Hestia.eot?#iefix) format('embedded-opentype'),
    url(/humanframe/global/assets/font/NotoSans/NotoSansKR-Thin-Hestia.woff) format('woff'),
    url(/humanframe/global/assets/font/NotoSans/NotoSansKR-Thin-Hestia.otf) format('opentype');
}

@font-face {
    font-family:'Noto Sans Korean';
    font-style:normal;
    font-weight:300;
    src:local('Noto Sans Light'), local('NotoSans-Light'),
    url(/humanframe/global/assets/font/NotoSans/NotoSansKR-Light-Hestia.eot),
    url(/humanframe/global/assets/font/NotoSans/NotoSansKR-Light-Hestia.eot?#iefix) format('embedded-opentype'),
    url(/humanframe/global/assets/font/NotoSans/NotoSansKR-Light-Hestia.woff) format('woff'),
    url(/humanframe/global/assets/font/NotoSans/NotoSansKR-Light-Hestia.otf) format('opentype');
}

@font-face {
    font-family:'Noto Sans Korean';
    font-style:normal;
    font-weight:400;
    src:local('Noto Sans DemiLight'), local('NotoSans-DemiLight'),
    url(/humanframe/global/assets/font/NotoSans/NotoSansKR-DemiLight-Hestia.eot),
    url(/humanframe/global/assets/font/NotoSans/NotoSansKR-DemiLight-Hestia.eot?#iefix) format('embedded-opentype'),
    url(/humanframe/global/assets/font/NotoSans/NotoSansKR-DemiLight-Hestia.woff) format('woff'),
    url(/humanframe/global/assets/font/NotoSans/NotoSansKR-DemiLight-Hestia.otf) format('opentype');
}

@font-face {
    font-family:'Noto Sans Korean';
    font-style:normal;
    font-weight:500;
    src:local('Noto Sans Medium'), local('NotoSans-Regular'),
    url(/humanframe/global/assets/font/NotoSans/NotoSansKR-Medium-Hestia.eot),
    url(/humanframe/global/assets/font/NotoSans/NotoSansKR-Medium-Hestia.eot?#iefix) format('embedded-opentype'),
    url(/humanframe/global/assets/font/NotoSans/NotoSansKR-Medium-Hestia.woff) format('woff'),
    url(/humanframe/global/assets/font/NotoSans/NotoSansKR-Medium-Hestia.otf) format('opentype');
}

@font-face {
    font-family:'Noto Sans Korean';
    font-style:normal;
    font-weight:700;
    src:local('Noto Sans Bold'), local('NotoSans-Bold'),
    url(/humanframe/global/assets/font/NotoSans/NotoSansKR-Bold-Hestia.eot),
    url(/humanframe/global/assets/font/NotoSans/NotoSansKR-Bold-Hestia.eot?#iefix) format('embedded-opentype'),
    url(/humanframe/global/assets/font/NotoSans/NotoSansKR-Bold-Hestia.woff) format('woff'),
    url(/humanframe/global/assets/font/NotoSans/NotoSansKR-Bold-Hestia.otf) format('opentype');
}

@font-face {
    font-family:'Noto Sans Korean';
    font-style:normal;
    font-weight:800;
    src:local('Noto Sans Black'), local('NotoSans-Black'),
    url(/humanframe/global/assets/font/NotoSans/NotoSansKR-Black-Hestia.eot),
    url(/humanframe/global/assets/font/NotoSans/NotoSansKR-Black-Hestia.eot?#iefix) format('embedded-opentype'),
    url(/humanframe/global/assets/font/NotoSans/NotoSansKR-Black-Hestia.woff) format('woff'),
    url(/humanframe/global/assets/font/NotoSans/NotoSansKR-Black-Hestia.otf) format('opentype');
}

@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 100;
    src: local('Spoqa Han Sans Thin'),
    url(/humanframe/global/assets/font/SpoqaHanSansNeo/SpoqaHanSansNeo-Thin.eot),
    url(/humanframe/global/assets/font/SpoqaHanSansNeo/SpoqaHanSansNeo-Thin.eot?#iefix) format('embedded-opentype'),
    url(/humanframe/global/assets/font/woff/SSpoqaHanSansNeo-Thin.woff) format('woff'),
    url(/humanframe/global/assets/font/SpoqaHanSansNeo/SpoqaHanSansNeo-Thin.otf) format('opentype');
}

@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 300;
    src: local('Spoqa Han Sans Light'),
    url(/humanframe/global/assets/font/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.eot),
    url(/humanframe/global/assets/font/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.?#iefix) format('embedded-opentype'),
    url(/humanframe/global/assets/font/woff/SSpoqaHanSansNeo-Light.woff) format('woff'),
    url(/humanframe/global/assets/font/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.otf) format('opentype');
}

@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 400;
    src: local('Spoqa Han Sans Regular'),
    url(/humanframe/global/assets/font/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.eot),
    url(/humanframe/global/assets/font/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.?#iefix) format('embedded-opentype'),
    url(/humanframe/global/assets/font/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.woff) format('woff'),
    url(/humanframe/global/assets/font/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 500;
    src: local('Spoqa Han Sans Medium'),
    url(/humanframe/global/assets/font/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.eot),
    url(/humanframe/global/assets/font/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.?#iefix) format('embedded-opentype'),
    url(/humanframe/global/assets/font/woff/SSpoqaHanSansNeo-Medium.woff) format('woff'),
    url(/humanframe/global/assets/font/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.otf) format('opentype');
}

@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 700;
    src: local('Spoqa Han Sans Bold'),
    url(/humanframe/global/assets/font/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.Bold),
    url(/humanframe/global/assets/font/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.?#iefix) format('embedded-opentype'),
    url(/humanframe/global/assets/font/woff/SSpoqaHanSansNeo-Bold.woff) format('woff'),
    url(/humanframe/global/assets/font/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 500;
    src: local('Montserrat Medium'),
    url(/humanframe/global/assets/font/Montserrat/Montserrat-Medium.eot),
    url(/humanframe/global/assets/font/Montserrat/Montserrat-Medium.eot?#iefix) format('embedded-opentype'),
    url(/humanframe/global/assets/font/Montserrat/Montserrat-Medium.woff) format('woff'),
    url(/humanframe/global/assets/font/Montserrat/Montserrat-Medium.otf) format('opentype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 600;
    src: local('Montserrat SemiBold'),
    url(/humanframe/global/assets/font/Montserrat/Montserrat-SemiBold.eot),
    url(/humanframe/global/assets/font/Montserrat/Montserrat-SemiBold.eot?#iefix) format('embedded-opentype'),
    url(/humanframe/global/assets/font/Montserrat/Montserrat-SemiBold.woff) format('woff'),
    url(/humanframe/global/assets/font/Montserrat/Montserrat-SemiBold.otf) format('opentype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    src: local('Montserrat Bold'),
    url(/humanframe/global/assets/font/Montserrat/Montserrat-Bold.eot),
    url(/humanframe/global/assets/font/Montserrat/Montserrat-Bold.eot?#iefix) format('embedded-opentype'),
    url(/humanframe/global/assets/font/Montserrat/Montserrat-Bold.woff) format('woff'),
    url(/humanframe/global/assets/font/Montserrat/Montserrat-Bold.otf) format('opentype');
}


@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
    url(/humanframe/global/assets/font/MaterialIcons/MaterialIconsRound-Regular.eot),
    url(/humanframe/global/assets/font/MaterialIcons/MaterialIconsRound-Regular.eot?#iefix) format('embedded-opentype'),
    url(/humanframe/global/assets/font/MaterialIcons/MaterialIconsRound-Regular.woff) format('woff'),
    url(/humanframe/global/assets/font/MaterialIcons/MaterialIconsRound-Regular.otf) format('opentype');
  }
  
  .material-icons,
  .ma {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    font-feature-settings: 'liga';
  }
