/* Noto Sans Korean */
@font-face {
    font-family:'Noto Sans Korean';
    font-style:normal;
    font-weight:100;
    src:local('Noto Sans Thin'), local('NotoSans-Thin'),
    url(/humanframe/global/assets/font/NotoSans/NotoSansKR-Thin-Hestia.eot),
    url(/humanframe/global/assets/font/NotoSans/NotoSansKR-Thin-Hestia.eot?#iefix) format('embedded-opentype'),
    url(/humanframe/global/assets/font/NotoSans/NotoSansKR-Thin-Hestia.woff) format('woff'),
    url(/humanframe/global/assets/font/NotoSans/NotoSansKR-Thin-Hestia.otf) format('opentype');
}
@font-face {
    font-family:'Noto Sans Korean';
    font-style:normal;
    font-weight:300;
    src:local('Noto Sans Light'), local('NotoSans-Light'),
    url(/humanframe/global/assets/font/NotoSans/NotoSansKR-Light-Hestia.eot),
    url(/humanframe/global/assets/font/NotoSans/NotoSansKR-Light-Hestia.eot?#iefix) format('embedded-opentype'),
    url(/humanframe/global/assets/font/NotoSans/NotoSansKR-Light-Hestia.woff) format('woff'),
    url(/humanframe/global/assets/font/NotoSans/NotoSansKR-Light-Hestia.otf) format('opentype');
}
@font-face {
    font-family:'Noto Sans Korean';
    font-style:normal;
    font-weight:400;
    src:local('Noto Sans DemiLight'), local('NotoSans-DemiLight'),
    url(/humanframe/global/assets/font/NotoSans/NotoSansKR-DemiLight-Hestia.eot),
    url(/humanframe/global/assets/font/NotoSans/NotoSansKR-DemiLight-Hestia.eot?#iefix) format('embedded-opentype'),
    url(/humanframe/global/assets/font/NotoSans/NotoSansKR-DemiLight-Hestia.woff) format('woff'),
    url(/humanframe/global/assets/font/NotoSans/NotoSansKR-DemiLight-Hestia.otf) format('opentype');
}
@font-face {
    font-family:'Noto Sans Korean';
    font-style:normal;
    font-weight:500;
    src:local('Noto Sans Medium'), local('NotoSans-Regular'),
    url(/humanframe/global/assets/font/NotoSans/NotoSansKR-Medium-Hestia.eot),
    url(/humanframe/global/assets/font/NotoSans/NotoSansKR-Medium-Hestia.eot?#iefix) format('embedded-opentype'),
    url(/humanframe/global/assets/font/NotoSans/NotoSansKR-Medium-Hestia.woff) format('woff'),
    url(/humanframe/global/assets/font/NotoSans/NotoSansKR-Medium-Hestia.otf) format('opentype');
}
@font-face {
    font-family:'Noto Sans Korean';
    font-style:normal;
    font-weight:700;
    src:local('Noto Sans Bold'), local('NotoSans-Bold'),
    url(/humanframe/global/assets/font/NotoSans/NotoSansKR-Bold-Hestia.eot),
    url(/humanframe/global/assets/font/NotoSans/NotoSansKR-Bold-Hestia.eot?#iefix) format('embedded-opentype'),
    url(/humanframe/global/assets/font/NotoSans/NotoSansKR-Bold-Hestia.woff) format('woff'),
    url(/humanframe/global/assets/font/NotoSans/NotoSansKR-Bold-Hestia.otf) format('opentype');
}
@font-face {
    font-family:'Noto Sans Korean';
    font-style:normal;
    font-weight:800;
    src:local('Noto Sans Black'), local('NotoSans-Black'),
    url(/humanframe/global/assets/font/NotoSans/NotoSansKR-Black-Hestia.eot),
    url(/humanframe/global/assets/font/NotoSans/NotoSansKR-Black-Hestia.eot?#iefix) format('embedded-opentype'),
    url(/humanframe/global/assets/font/NotoSans/NotoSansKR-Black-Hestia.woff) format('woff'),
    url(/humanframe/global/assets/font/NotoSans/NotoSansKR-Black-Hestia.otf) format('opentype');
}
