$board-style-color : #00B051;
$board-style-bgcolor : #F4F4F4;

.board-wrap .board-list-wrap ul.board-list.list-head {
    background-color: $board-style-bgcolor;
    border-color:$board-style-color;
    border-style:solid;
    border-width:2px 0 0 0;
}

.board-view-wrap {
    border-color:$board-style-color;
    border-style:solid;
    border-width:2px 0 0 0;
}

.board-write-wrap {
    border-color:$board-style-color;
    border-style:solid;
    border-width:2px 0 0 0;
}

.board-btn-wrap {
    .btn.is-primary {
        background-color: $board-style-color;
        color: #fff !important;
    }
}

.board-btn-wrap {
    .btn.is-primary {
        background-color: $board-style-color;
        color: #fff !important;
    }
    .btn.is-black {
        background-color: $board-style-color;
        color: #fff !important;
    }
}
.board-search-wrap{
    .btn{
        background-color: $board-style-color;
        color: #fff !important;
    }
}

.board-list-head .board-search-wrap .input-box button{
    background-color: $board-style-color;
    border:0;
    color: #fff !important;
}
